@import '../../_colors.scss';
@import '../../_box.scss';

.chat {
    @include box;
    position: relative;

    #message {
        @include box-inner;
        box-sizing: border-box;
        margin: 5px;
        position: absolute;
        width: calc(100% - 10px);
        height: 25px;
        bottom: 0;
        font-family: 'windows95';
        padding: 0 0 0 10px;
    }

    .messages {
        @include box-inner;
        box-sizing: border-box;
        position: absolute;
        background-color: $grey;
        margin: 5px;
        width: calc(100% - 10px);
        height: calc(100% - 50px);

        p {
            margin: 0;
        }
    }
}