.App {
  display: grid;
  box-sizing: border-box;
  height: 100vh;
  
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px 10px;

  .buddy-list {
    grid-column: 1;
  }

  .chat {
    grid-column: 2 / 5;
  }
}
