@font-face {
  font-family: 'windows95';
  src: url("./assets/px_sans_nouveaux.ttf") format("truetype"); }

body {
  margin: 0;
  padding: 0;
  font-family: 'windows95';
  background-color: #008080; }
