@font-face {
  font-family: 'Millenium';
  src: url('fonts/Millennium-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Millenium';
  src: url('fonts/Millennium-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {  
  font-family: 'Millenium';
  src: url('fonts/Millennium-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

html, body, #root {
  height: 100%;
  margin:  0px auto;
  padding: 0px auto;
  background-color: #008080;
}

body {
  padding: 10px;
  box-sizing: border-box;
}

.convex {
  border: 2px solid;
  border-bottom-color: #535353;
  border-right-color: #535353;
  border-left-color: #dbdbdb;
  border-top-color: #dbdbdb;
  background-color: #bfbfbf;
}

.concave {
  border: 2px solid;
  border-bottom-color: #c7c7c7;
  border-right-color: #c7c7c7;
  border-left-color: #808080;
  border-top-color: #808080;
  background-color: #fff;
  padding: 10px;
}